<!-- ngModel needs to be imported in app.module.ts and also automatically store and fetch the data user input -->
<mat-card>
    <mat-form-field>
        <input matInput type='text'[(ngModel)]="enteredTitle">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput row="6" [(ngModel)]="enteredContent"></textarea> <!-- #postInput is like a id, or reference to be used in the post-create.component.ts -->
    </mat-form-field>
    <button 
        mat-raised-button 
        color="accent"
        (click)="onAddPost()">Save Post
    </button> <!-- add a event binding here, pass a name of the function from post-create class -->
</mat-card>
<!-- <p>{{ newPost }}</p> output the content that user entered in the textarea from onAddPost() -->
